<style>
	.completed{
		color : red;
		text-decoration: line-through;
		font-style: italic;
		font-weight: bold;
	}
	.stats{
		font-size: 20pt;
	}
</style>
<h1>Task Manager</h1>
<hr />
<a href="/tasks/new">Create New</a>
<div class="stats">
	<span class="completed">{{completedCount}}</span>
	<span> / </span>
	<span>{{tasks.length}}</span>
</div>
<ol>
	{{#each tasks}}
		<li>
			{{#if isCompleted}}
				<span class="completed"> {{name}} </span>
			{{else}}
				<span> {{name}} </span>
			{{/if}}
			<span> ({{isCompleted}}) </span>
			<a href="/tasks/toggle/{{id}}">X</a>
		</li>
	{{/each}}
</ol>
<form method="post" action="/tasks/removeCompleted">
	<input type="submit" value="Remove Completed" />
</form>



